.checked{
    display: flex;
    justify-content: space-between;
   border:1px solid black;
   background-color: rgb(206, 199, 199);
}
.checked>div{
    display: flex;

}

.checked h3{
    text-decoration-line:line-through;
}
p{
    text-align:justify;
}

